<%- partial('_partial/bg-cover') %>
  <style ype="text/css">
    #pubShuo {
      margin-right: 5px;
    }

    #operare_artitalk .shuoshuo_input_log {
      outline-style: none;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 8px 16px;
      font-size: 12px;
      background-color: transparent;
      color: #0bb7fbd6;
      width: 70%;
      height: 28px;
      margin-left: 10px;
    }

    #artitalk_main {
      margin-top: 5px;
      margin-left: 5%;
      margin-right: 5%;
    }

    #lazy {
      margin-top: 40px;
    }
  </style>
  <script src="<%- theme.jsDelivr.url %><%- url_for(theme.libs.js.artitalk) %>"></script>
  <article id="articles11" class="container chip-container">
    <div class="row ">
      <div class=" card">
        <div class="card-content">
          <div class="tag-title center-align"> <i class="fas fa-pen-alt"></i> 说说 </div>
          <div id="artitalk_main" style="top: auto;"></div>
        </div>
      </div>
    </div>
  </article>
  <script> new Artitalk({
      appId: "<%= theme.artitalk.appId %>",
      appKey: "<%= theme.artitalk.appKey %>", 
    <% if (theme.artitalk.serverURL) { %>
      serverURL: "<%= theme.artitalk.serverURL %>", 
    <% } %> 
    <% if (theme.artitalk.lang) { %>
      lang: "<%= theme.artitalk.lang %>", 
    <% } %> <% if (theme.artitalk.pageSize) { %>
      pageSize: "<%= theme.artitalk.pageSize %>", 
    <% } %> 
    <% if (theme.artitalk.shuoPla) { %>
      shuoPla: "<%= theme.artitalk.shuoPla %>", 
    <% } %> 
    <% if (theme.artitalk.avatar) { %>
      avatarPla: "<%= theme.artitalk.avatar %>", 
    <% } %> <% if (theme.artitalk.motion == 0) { %>
      motion: 0, <% } else { %> motion: 1, 
      <% } %> 
      <% if (theme.artitalk.bgImg) { %>
      bgImg: "<%= theme.artitalk.bgImg %>", 
      <% } %> <% if (theme.artitalk.color1) { %>
      color1: "<%= theme.artitalk.color1 %>", 
      <% } %> <% if (theme.artitalk.color2) { %>
      color2: "<%= theme.artitalk.color2 %>", 
      <% } %> 
      <% if (theme.artitalk.color3) { %>
      color3: "<%= theme.artitalk.color3 %>", 
      <% } %> 
      <% if (theme.artitalk.cssUrl) { %>
      cssUrl: "<%= theme.artitalk.cssUrl %>", 
      <% } %>
      atEmoji: {
      baiyan: "https://cdn.jsdelivr.net/gh/Artitalk/Artitalk-emoji/baiyan.png",
        bishi: "https://cdn.jsdelivr.net/gh/Artitalk/Artitalk-emoji/bishi.png",
          bizui: "https://cdn.jsdelivr.net/gh/Artitalk/Artitalk-emoji/bizui.png",
            chan: "https://cdn.jsdelivr.net/gh/Artitalk/Artitalk-emoji/chan.png",
              daku: "https://cdn.jsdelivr.net/gh/Artitalk/Artitalk-emoji/daku.png",
                dalao: "https://cdn.jsdelivr.net/gh/Artitalk/Artitalk-emoji/dalao.png",
                  dalian: "https://cdn.jsdelivr.net/gh/Artitalk/Artitalk-emoji/dalian.png",
                    dianzan: "https://cdn.jsdelivr.net/gh/Artitalk/Artitalk-emoji/dianzan.png",
                      doge: "https://cdn.jsdelivr.net/gh/Artitalk/Artitalk-emoji/doge.png",
                        facai: "https://cdn.jsdelivr.net/gh/Artitalk/Artitalk-emoji/facai.png",
                          fadai: "https://cdn.jsdelivr.net/gh/Artitalk/Artitalk-emoji/fadai.png",
                            fanu: "https://cdn.jsdelivr.net/gh/Artitalk/Artitalk-emoji/fanu.png", }, }) </script>